@tailwind base;
@tailwind components;
@tailwind utilities;

/* 明示的に変数を定義して使用する */
:root {
  --primary: #295e4f;
  --primary-light: #3f7b69;
  --primary-dark: #1f4a3f;
  --accent: #d4af37;
  --accent-light: #f4d06f;
  --background: #f9f9f9;
  --text-base: #1f2937;
  --text-muted: #6b7280;
  --border-default: #e5e7eb;
}

@layer base {
  body {
    @apply bg-background text-text-base;
  }
}
